@{
    ViewData["Title"] = "Add new Student";
}

@if (ViewData["Added"] == null)
{
    <h1>Add new Student</h1>

    <form method="post">
        <label>Full Name: </label>
        <input type="text" name="full-name" />
        <br />

        <label>Date of Birth: </label>
        <input type="text" name="dob" />
        <br />

        <label>Email: </label>
        <input type="text" name="email" />
        <br />

        <label>Phone Number: </label>
        <input type="text" name="phone-number" />
        <br />

        <input type="submit" value="Add Student" />
    </form>
}
else
{
    // Can i put a view here??
    <p>Added Student successfully!</p>
}